{% block footer %}
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-section">
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Payment</a></li>
                        <li><a href="#">Delivery</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>We are in social networks</h3>
                    <ul class="social-links">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p>&copy; 2023 Wonder Mart. All rights reserved.</p>
            </div>
        </div>
    </footer>
{% endblock %}