{% block header %}
    {% load static %}

    {% block css_file %}
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/header.css' %}">
    {% endblock %}

    <header>
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <a href="/">Wonder Mart</a>
                </div>
                <div class="search-bar">
                    <input type="text" name="search" placeholder="What do you want to find?">
                    <button><i class="icon-search"></i> Search</button>
                </div>
                <div class="user-actions">
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}"><i class="icon-user"></i> {{ request.user.username }}</a>
                        <a href="{% url 'logout' %}"><i class="icon-logout-1"></i> Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}"><i class="icon-user icon"></i> Sign in</a>
                        <span class="divider">|</span>
                        <a href="{% url 'register' %}"><i class="icon-user-plus icon"></i> Sign up</a>
                    {% endif %}
                    <a href="{% url 'cart' %}" class="cart-button">
                        <i class="icon-basket icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}